<div>
<h1>Update menu details</h1>
<%= simple_form_for [@restaurant, @menu] do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.submit "Update Menu", class: "btn btn-secondary" %>
<% end %>
</div>
