<%= @restaurants.first.id%>




<div class="dashboard-container">
  <%# <h1>Dashboard</h1> %>

  <div class="v-100 d-flex">
    <h2>Your restaurants</h2>
    <%= link_to restaurants_path do %>
      <i class="fa-solid fa-pen-to-square edit ms-3 fs-2"></i>
    <% end %>
  </div>

  <div class="d-flex justify-content-between">
    <div class="board-restaurants d-flex mb-3">
      <% @restaurants.each do |restaurant|%>
        <div class="cards-dashboard card me-4" style="width: 300px">
          <%= cl_image_tag("pexels-photo-4518881_comejf",crop: :fill, class: "photos-cards-dashboard")%>
          <div class="card-body">
            <h5><%= restaurant.name %></h5>
            <p><%= restaurant.owner %></p>
            <p>📍 <%= restaurant.location %></p>
            <%menus = Menu.where(restaurant_id: restaurant.id)%>
          </div>
<%# Accordion %>
          <div class="accordion" id="accordion-<%= restaurant.id %>">
            <div class="accordion-item">
              <h2 class="accordion-header" id="restaurant-<%=restaurant.id%>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%=restaurant.id%>" aria-expanded="true" aria-controls="collapse-<%=restaurant.id%>">
                  See menus
                </button>
              </h2>
              <% menus.each do |menu|%>
                <div id="collapse-<%=restaurant.id %>" class="accordion-collapse collapse in" aria-labelledby="heading-<%=restaurant.id%>" data-bs-parent="#accordion-<%=restaurant.id%>">
                  <div class="accordion-body">
                  <%=link_to "#{menu.name}", restaurant_menu_path(menu.restaurant, menu)%>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
<%# end accordion %>
        </div>
      <%end%>
    </div>

<%# PAGE HITS %>
      <%@restaurants.each do |restaurant| %>
        <div class="board-visits">
          <h2>QRs scanned</h2>
          <h5><%=restaurant.name%>: <%=restaurant.scans_count%></h5>
          <i class="fa-solid fa-mobile-screen-button phone"></i>
        </div>
      <%end%>
  </div>

  <div class="d-flex justify-content-between">
    <div class="board-reviews me-3">
      <h2>Reviews</h2>
      <h5> > Burrito (3 stars) </h5>
      <p>I loved the crispy tortilla, but the guacomole was a bit tasteless.</p>
      <h5> > Pizza (4 stars)</h5>
      <p>Very nice authentic pizza, I would add basil to make it perfect.</p>
      <%=link_to "All reviews", reviews_path%>

    </div>

    <div class="board-alerts ms-3">
      <h2>Alerts</h2>
      <h5> > Burrito got 1 star on 21 aug!</h5>
      <h5> > Brownie got 1 star on 21 aug!</h5>
    </div>
  </div>
</div>
