<div class="container">
  <div class="titles">
    <h1>Dashboard</h1>
    <br>
    <div class="d-flex justify-content-between">
      <h2>Your restaurants</h2>
      <div>
        <%= link_to restaurants_path do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      </div>
      <div class="times-scanned">
        <p>Times scanned today</p>
        <%# <span class="dot"></span> %>
      </div>
    </div>
  </div>
  <div class="cards-grid-dashboard">
    <% @restaurants.each do |restaurant|%>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag("v1661870846/FoodVisualizer/pexels-photo-4518881_comejf",crop: :fill)%>
        <div class="card-body">
          <h5><%= restaurant.name %></h5>
          <p><%= restaurant.owner %></p>
          <p><%= restaurant.location %></p>
        </div>
      </div>
    <% end%>
    <div id="square"></div>
  </div>

    <div class="reviews-alerts">
    <div class = "reviews">
      <h4>Reviews</h4>
      <p>One review flksfçsdfdsklfklweflF</p>
      <p>Another review FKJSLKFJEWOIINsnl</p>
    </div>

    <div class = "alerts">
      <h4>Alerts</h4>
      <p>Firs dish</p>
      <p>Second dish</p>
    </div>
  </div>
</div>
