<div class="container">
  <div class="titles">
  <h1>Dashboard</h1>
  <br>
  <h2>Your restaurants</h2>
  </div>
  <div class = "cards-dashboard">
    <% @restaurants.each do |restaurant|%>
     <div class = "card">
        <%= cl_image_tag("v1661870846/FoodVisualizer/pexels-photo-4518881_comejf",crop: :fill)%>
        <h3><%=restaurant.name%>
        <p><%=restaurant.owner%>
        <p><%=restaurant.location%>
        <div class = "restaurant-menus">
          <%=link_to "Menus", restaurant_path(restaurant.id), class: "btn btn-secondary"%>
        </div>
      </div>
    <% end%>
 </div>

__________________________________________________________________________
  <div class=cards-grid-index>
    <div class="card" style="width: 18rem;">
      <%= cl_image_tag("v1661870846/FoodVisualizer/pexels-photo-4518881_comejf",crop: :fill)%>
      <div class="card-body">
        <h5>Restaurant name</h5>
        <p>Restaurant owner</p>
        <p>Restaurant location</p>
      </div>
    </div>
  </div>
_________________________________________________________________________________

  <div class="btns">
    <%=link_to "Edit your restaurants", restaurants_path, class: "btn btn-secondary"%>
  </div>

  <div class = "times-scanned">
    <p>Times scanned today:</p>
  </div>

  <div class="reviews-alerts">
    <div class = "reviews">
      <h4>Reviews</h4>
      <p>Recent reviews</p>
    </div>

    <div class = "alerts">
      <h4>Alerts</h4>
      <p>Dishes that got less than 2 stars</p>
    </div>
  </div>

  </div>

</div>
