<!-------------------BANNER----------------------------->
<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="header-text">
          <h1 class="home-header">Food Visualizer</h1>
        </div>
        <div>
          <h3 class= "header-text">Let your guests see your food</h3>
        </div>
        <br>
        <div class="col-md-6">
          <% if current_user %>
          <p> </p>
          <% else %>
            <div class="btns">
            <%= link_to 'Sign Up',  new_user_registration_path, class: "button-50"%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 text-center img-home">
        <%= image_tag("homepageimage.png", class:"img-fluid img-banner")%>
      </div>
    </div>
  </div>
</section>

<div class="text-center mt-4">
<h1>How It Works</h1>
</div>

 <section id="card">
  <div class=menu-cards>
        <div class="card card-home-page" style="width: 18rem;">
          <%= image_tag("upload1.png", crop: :fill, class: "card_borders")%>
          <div class="card-body">
            <div>
              <h5 class="card-title">Upload Photos for Your Menu</h5>
              <p class="card-text">Easy to edit and to upload.</p>
            </div>
          </div>
        </div>

        <div class="card card-home-page" style="width: 18rem;">
          <div class="text-center" style="margin-top: 2rem;">
            <%= image_tag("frame.png", crop: :fill, class: "card_borders qr-width")%>
          </div>
          <div class="scan-viewport">
            <div class="scan-indicator"></div>
            <div class="scan-container">
              <div class="corner left-top"></div>
              <div class="corner left-bottom"></div>
              <div class="corner right-top"></div>
              <div class="corner right-bottom"></div>
            </div>
          </div>
          <div class="card-body">
            <div>
              <h5 class="card-title">Generate a QR Code</h5>
              <p class="card-text">Allow your guests to see your food.</p>
            </div>
          </div>
        </div>

        <div class="card card-home-page" style="width: 18rem;">
          <%= image_tag("update4.png", crop: :fill, class: "card_borders")%>
          <div class="card-body">
            <div >
              <h5 class="card-title">Make your guests happy </h5>
              <p class="card-text">Meet your guests expectations.</p>
            </div>
          </div>
        </div>
    </div>
</section>
