<!-------------------BANNER----------------------------->

<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="header-text">
          <h1>Food Visualizer</h1>
        </div>
        <div>
          <h3>Let your guests see your food</h3>
        </div>
        <div class="col-md-6">
          <% if current_user %>
          <p> </p>
          <% else %>
            <div class="btns">
            <%= link_to 'Sign Up',  new_user_registration_path, class: "main_button"%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <%= image_tag("foodillustration.png", class:"img-fluid")%>
      </div>
    </div>
  </div>
     <%= image_tag("wave1", class:"img-fluid", class:"bottom-img")%>
</section>


 <section id="card">
  <div class=cards-grid-index>
        <div class="card card-home-page" style="width: 18rem;">
          <%= cl_image_tag("v1662129143/FoodVisualizer/eaters-collective-i_xVfNtQjwI-unsplash_utcxa8",crop: :fill, class: "card_borders")%>
          <div class="card-body">
            <h5 class="card-title">Upload Photos for Your Menu Items</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

        <div class="card card-home-page" style="width: 18rem;">
          <%= cl_image_tag("v1662128825/FoodVisualizer/alba-lantigua-ExgezJ7olp4-unsplash_a2jgft",crop: :fill, class: "card_borders")%>
          <div class="card-body">
            <h5 class="card-title">Guests Scan the QR Code and See Your Food</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

        <div class="card card-home-page" style="width: 18rem;">
          <%= cl_image_tag("v1662129856/FoodVisualizer/pexels-trang-doan-769969_deary7",crop: :fill, class: "card_borders")%>
          <div class="card-body">
            <h5 class="card-title">Easy to Edit and Upload Photos</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
    </div>
</section>
