<!-------------------BANNER----------------------------->

<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="header-text">
          <h1>Food Visualizer</h1>
        </div>
        <div>
          <h3>Let your guests see your food</h3>
        </div>
        <div class="col-md-6">
          <% if current_user %>
          <p> </p>
          <% else %>
            <div class="btns">
            <%= link_to 'Sign Up',  new_user_registration_path, class: "main_button"%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <%= image_tag("foodillustration.png", class:"img-fluid")%>
      </div>
    </div>
  </div>
     <%= image_tag("wave1", class:"img-fluid", class:"bottom-img")%>
</section>


 <section id="card">
  <div class=cards-grid-index>
        <div class="card card-home-page" style="width: 18rem;">
          <%= image_tag("upload.png", crop: :fill, class: "card_borders")%>
          <div class="card-body">
            <div>
              <h5 class="card-title">Upload Photos for Your Menu</h5>
              <p class="card-text">Show your food.</p>
            </div>
          </div>
        </div>

        <div class="card card-home-page" style="width: 18rem;">
          <div class="text-center" style="margin-top: 2rem;">
            <%= image_tag("frame.png", crop: :fill, class: "card_borders qr-width")%>
          </div>
          <div class="scan-viewport">
            <div class="scan-indicator"></div>
            <div class="scan-container">
              <div class="corner left-top"></div>
              <div class="corner left-bottom"></div>
              <div class="corner right-top"></div>
              <div class="corner right-bottom"></div>
            </div>
          </div>
          <div class="card-body">
            <div>
              <h5 class="card-title">Generate a QR Code</h5>
              <p class="card-text">Allow your guests to see your food.</p>
            </div>
          </div>
        </div>

        <div class="card card-home-page" style="width: 18rem;">
          <%= image_tag("update.png", crop: :fill, class: "card_borders")%>
          <div class="card-body">
            <div >
              <h5 class="card-title">Make your guests happy </h5>
              <p class="card-text">Meet your guests expectations.</p>
            </div>
          </div>
        </div>
    </div>
</section>
