<!-------------------BANNER----------------------------->
<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="header-text">
          <h1>Food Visualizer</h1>
        </div>
        <div>
          <h3>Let your guests see your food</h3>
        </div>
        <br>
        <div class="col-md-6">
          <% if current_user %>
          <p> </p>
          <% else %>
            <div class="btns">
            <%= link_to 'Sign Up',  new_user_registration_path, class: "button-50"%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 text-center img-home">
        <%= image_tag("homepageimage.png", class:"img-fluid img-banner")%>
      </div>
    </div>
  </div>
</section>


 <section id="card">
  <div class=cards-grid-index>
        <div class="card card-home-page" style="width: 18rem;">
          <%= image_tag("photo1.jpg", crop: :fill, class: "card_borders")%>
          <div class="card-body">
            <h5 class="card-title">Upload Photos for Your Menu Items</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

        <div class="card card-home-page" style="width: 18rem;">
          <%= image_tag("photo2.jpg", crop: :fill, class: "card_borders")%>
          <div class="card-body">
            <h5 class="card-title">Guests Scan the QR Code and See Your Food</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

        <div class="card card-home-page" style="width: 18rem;">
          <%= image_tag("photo3.jpg", crop: :fill, class: "card_borders")%>
          <div class="card-body">
            <h5 class="card-title">Easy to Edit and Upload Photos</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
    </div>
</section>
