<div class="center">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h1><%= @menu.category %> menu (Preview)</h1>
      <h3><%= @menu.restaurant.name %></h3>
    </div>
  </div>

  <%= form_with url: preview_dishes_path(@menu), method: :get, class: "d-flex" do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a dish"%>
    <%= submit_tag "Search", class: "main-button" %>
  <% end %>

  <% @dishes.each do |dish| %>
      <div class="dish-cards d-flex ">
        <div class=" card_picture">
          <div id="carouselExampleControls-<%= dish.id %>" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= cl_image_tag dish.photos.first.key, class: 'd-block w-100 card_picture_borders', height: 300, width: 400, crop: :fill %>
              </div>
              <% dish.photos.drop(1).each do |photo| %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key, class: 'd-block w-100', height: 300, width: 400, crop: :fill %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-<%= dish.id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-<%= dish.id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-block px-2 text-card-dishes">
            <h4><%=dish.name%></h4>
            <p><%=dish.description%></p>
            <p>Price: <%=dish.price%></p>
            <%=link_to "Review", new_restaurant_menu_dish_review_path(@menu.restaurant.id, @menu.id, dish.id), class: "secondary-button mt-4" %>
            <div class = "magglass-div">
              <%=link_to root_path do%>
                <i class="fa-solid fa-magnifying-glass magglas"></i>
              <% end %>
            </div>
          </div>
         </div>
      </div>
  <% end%>

</div>
