<div>
<h1>Edit dish</h1>
<%= simple_form_for [@restaurant, @menu, @dish] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.submit "Update dish", class: "btn btn-secondary" %>
<% end %>
</div>
