<div>
<h1>New dish</h1>
<%= simple_form_for [@restaurant, @menu, @dish] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Create dish", class: "btn btn-secondary" %>
<% end %>
</div>
