<div class="container page-container">
<br>
  <div class="titles">
    <h1>Your Restaurants</h1>
  </div>

  <div class="d-flex justify-content-between">
    <div class="board-restaurants-index mb-3">
    <% @restaurants.each do |restaurant|%>
    <div class = "card-index-restaurants card me-4">
      <%# <%= cl_image_tag("v1661870846/FoodVisualizer/pexels-photo-4518881_comejf",crop: :fill, class: "photos-cards-dashboard")%>
      <% if restaurant.photo.key %>
        <%= cl_image_tag restaurant.photo.key, crop: :fill, class: "photos-cards-dashboard" %>
      <% else %>
        <%= image_tag "/assets/logo.jpeg", class: "photos-cards-dashboard" %>
      <% end %>
      <div class="p-3">
        <div class="card-body-restaurants p-0 mb-3 d-flex justify-content-between">
          <div>
            <h3><%=restaurant.name%></h3>
            <p class="m-0"><%=restaurant.owner%></p>
            <p class="m-0"><%=restaurant.location%></p>
          </div>
            <div class="card-button-menus">
              <%= link_to restaurant_path(restaurant.id), class: "menus-btn" do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <%end%>
            </div>
        </div>
        <div class="card-button p-0">
          <div>
            <%=link_to "Edit", edit_restaurant_path(restaurant.id), class: "main-button m-0"%>
          </div>
          <div>
            <%= link_to restaurant_path(restaurant.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-btn" do%>
              <i class="fa-solid fa-trash"></i>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <% end%>
    </div>
  </div>
    <br>
    <br>
    <%=link_to "Add restaurant", new_restaurant_path, class: "main-button card-button-add-restaurant" %>
</div>
