
<h1>The menus of <%=@restaurant.name%></h1>
<% @menus.each do |menu|%>
  <div class = "card">
    <h3><%=menu.name%></h3>
    <p><%=menu.category%></p>
    <%=link_to "Edit", edit_restaurant_menu_path(@restaurant.id, menu.id) %>
    <%=link_to "Delete", restaurant_menu_path(@restaurant.id, menu.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <%=link_to "See menu", restaurant_menu_path(@restaurant.id, menu.id) %>
  </div>
<% end%>
<br>
<br>
<br>
<%= link_to "Add menu", new_restaurant_menu_path(@restaurant.id) %>
</div>
